* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color:antiquewhite;
}

#title1 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-align: center;
    color: rgb(27, 36, 87);
    font-size: 60px;
    text-decoration: underline 2px;
}